<p id="notice"><%= notice %></p>
<% if !current_user.nil? %>
<%= image_tag(current_user.avatar_thumbnail) %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Tasks</span>
      <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' if current_user.role %>
    </h2>
    
      
    <% @tasks.each do |task| %>
      <%= link_to task, class: 'text-decoration-none' do %>
        <div class="card project-card mb-3">
          <div class="card-body">
          <% if current_user.email == task.created_by %>
            <div class="mb-3">
              
              </span>
              <span class='text-secondary'>
                <small>
                  <%= task.status %>
                </small>
              </span>
            </div>
            <h5 class='card-title text-dark'><b><%= task.name %></b></h5>
            <p class='text-secondary'><%= task.description %></p>
            </div>
</div>

          <% elsif task.assign_to == current_user.email %>
            <div class="mb-3">
              <span class='text-secondary'>
                <small>
                  <%= task.status %>
                </small>
              </span>
            </div>
            <h5 class='card-title text-dark'><b><%= task.name %></b></h5>
            <p class='text-secondary'><%= task.description %></p>
          <% end %>
          </div>
        </div>
        <%#= will_paginate @tasks%>
      <% end %>
      <%#= will_paginate @tasks%>
    <% end %>
    <%= will_paginate @tasks%><br />
    <%= link_to "Edit User", '/users/edit' %><br />
  </div>
</div>
<% else %>
<h6> Not logged in </h6>
<%= link_to "Sign Up", '/users/sign_up' %>
<% end %>
